@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}
.custom-container {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
  align-items: center;
}

/* Home-page */
#home {
  background: linear-gradient(135deg, #000, #DC143C, #000);
}
.text-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
}
.text-animation #line1 {
  margin: -20px auto;
  transform: scale(0.5);
  animation: fill 2s ease forwards 6.5s;
}
.text-animation #line2 {
  margin: -20px auto;
  transform: scale(0.6);
  animation: fill 2s ease forwards 6.5s;
}
#line1 path:nth-child(1){
  stroke-dasharray: 222.048;
  stroke-dashoffset: 222.048;
  animation: letter-animation 3s ease forwards 2s;
}
#line1 path:nth-child(2){
  stroke-dasharray: 111.456;
  stroke-dashoffset: 111.456;
  animation: letter-animation 3s ease forwards 2.3s;
}
#line1 path:nth-child(3){
  stroke-dasharray: 303.976;
  stroke-dashoffset: 303.976;
  animation: letter-animation 3s ease forwards 2.6s;
}
#line1 path:nth-child(4){
  stroke-dasharray: 253.229;
  stroke-dashoffset: 253.229;
  animation: letter-animation 3s ease forwards 2.9s;
}
#line1 path:nth-child(5){
  stroke-dasharray: 182.304;
  stroke-dashoffset: 182.304;
  animation: letter-animation 3s ease forwards 3.2s;
}
#line1 path:nth-child(6){
  stroke-dasharray: 167.904;
  stroke-dashoffset: 167.904;
  animation: letter-animation 3s ease forwards 3.5s;
}
#line1 path:nth-child(7){
  stroke-dasharray: 111.456;
  stroke-dashoffset: 111.456;
  animation: letter-animation 3s ease forwards 3.8s;
}
#line1 path:nth-child(8){
  stroke-dasharray: 306.355;
  stroke-dashoffset: 306.355;
  animation: letter-animation 3s ease forwards 4.1s;
}
#line1 path:nth-child(9){
  stroke-dasharray: 282.672;
  stroke-dashoffset: 282.672;
  animation: letter-animation 3s ease forwards 4.4s;
}
#line2 path:nth-child(1) {
  stroke-dasharray: 253.229;
  stroke-dashoffset: 253.229;
  animation: letter-animation 3s ease forwards 2s;
}
#line2 path:nth-child(2) {
  stroke-dasharray: 282.672;
  stroke-dashoffset: 282.672;
  animation: letter-animation 3s ease forwards 2.3s;
}
#line2 path:nth-child(3) {
  stroke-dasharray: 232.605;
  stroke-dashoffset: 232.605;
  animation: letter-animation 3s ease forwards 2.6s;
}
#line2 path:nth-child(4) {
  stroke-dasharray: 297.785;
  stroke-dashoffset: 297.785;
  animation: letter-animation 3s ease forwards 2.9s;
}
#line2 path:nth-child(5) {
  stroke-dasharray: 306.355;
  stroke-dashoffset: 306.355;
  animation: letter-animation 3s ease forwards 3.2s;
}
#line2 path:nth-child(6) {
  stroke-dasharray: 313.241;
  stroke-dashoffset: 313.241;
  animation: letter-animation 3s ease forwards 3.5s;
}
#line2 path:nth-child(7) {
  stroke-dasharray: 167.904;
  stroke-dashoffset: 167.904;
  animation: letter-animation 3s ease forwards 3.8s;
}
#line2 path:nth-child(8) {
  stroke-dasharray: 111.456;
  stroke-dashoffset: 111.456;
  animation: letter-animation 3s ease forwards 4.1s;
}
#line2 path:nth-child(9) {
  stroke-dasharray: 306.355;
  stroke-dashoffset: 306.355;
  animation: letter-animation 3s ease forwards 4.4s;
}
#line2 path:nth-child(10) {
  stroke-dasharray: 282.672;
  stroke-dashoffset: 282.672;
  animation: letter-animation 3s ease forwards 4.7s;
}
/* End-of-home-page */

/* Keyframes */
@keyframes letter-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}
/* End-of-keyframes */